<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyPomodoro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EABFDB724E08C9D00D6E71C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EABFDC924E08C9E00D6E71C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EABFDD424E08C9E00D6E71C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
